:root {
	--trans: rgba(0, 0, 0, 0);
	--bgblack: rgba(0, 0, 0, 0.75);
	--bggray1: #080808;
	--bggray2: #121212;
	--bggray3: #525252;
	--bggray4: #969696;
	--textcolor: white;
	--palette1: rgb(255, 47, 104);
	--palette2: rgb(178, 0, 47);
	--palette3: rgb(87, 0, 23);
	--palette4: #3c2ca9;
	--monohue: -16.5deg;
	--monosat: 100%;
	--monolum: 100%;
	--width: 800px;
}
@font-face {
  font-family: 'Source Code Pro', 'Courier New', monospace;
}
@font-face {
	font-family: "VT323", Lucida Console, monospace;
	}
body {
	background: var(--bggray2) url("glitch.png") fixed center;
	color: white;
	font-family: 'Source Code Pro', monospace;
	margin: 20px;
	scroll-behavior: smooth;
}
section {
	width: 1200px;
}
header {
	font-family: 'Source Code Pro', monospace;
	background-color: var(--trans);
	padding: 60px;
}
hr {
	margin-top: 10px;
}
.content {
	background-color: var(--bggray1);
}
footer {
	background-color: var(--bggray1);
	padding: 20px;
	clear: both;
}
article {
	background-color: var(--bggray1);
	padding: 20px;
	padding-bottom: 0px;
	text-align: justify;
}
.left {
	float: left;
	width: 30%;
}
ul {
	list-style-type: none;
}
.navbutton {
	/*put code here*/
}
.Major {
	margin: 0px;
	text-align: center;
	font-family: 'VT323', monospace;
	background-color: var(--bggray2);
	color: white;
}
.MajorTom {
	margin: 0px;
	text-align: center;
	font-family: 'VT323', monospace;
	color: white;
}
.Major:hover {
	margin: 0px;
	text-align: center;
	font-family: 'VT323', monospace;
	color: white;
}
.MajorTom:hover {
	margin: 0px;
	text-align: center;
	font-family: 'VT323', monospace;
	color: white;
}
.Center{
	text-align: center;
}
@media (max-width: 600px) {
  article {
    width: 100%;
    height: auto;
  }
}
a:link {
  color: var(--palette1); 
  background-color: transparent; 
  text-decoration: none;
  transition: 0.5S;
}
a:visited {
  color: var(--palette2);
  background-color: transparent;
  text-decoration: none;
  transition: 0.5S;
}
a:hover {
  color: var(--palette3); 
  background-color: transparent;
  text-decoration: underline;
  transition: 0.5S;
}
a:active {
  color: var(--palette4);
  background-color: transparent;
  text-decoration: underline;
  transition: 0.5S;
}